# Cache et environnements virtuels
.env
.venv/
__pycache__/
*.pyc

# --- NOTEBOOKS ET DOSSIERS ---
notebooks/
/backup/

# MLflow et données
/mlruns/
mlflow.db
mlflow.db-journal
plots/
/data/


# Git et Docker
.git/
.github
.gitignore
Dockerfile
.dockerignore
docker-compose.yml

# Tests
/test

# IDE et fichiers système
.vscode/
.idea/
.DS_Store
*.code-workspace
